html {
	height: 100%;
}

body {
	height: 100%;   
	background: rgba(247,247,247,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 47%, rgba(180,180,180,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(247,247,247,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(180,180,180,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 47%, rgba(180,180,180,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 47%, rgba(180,180,180,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 47%, rgba(180,180,180,1) 100%);
	background: radial-gradient(ellipse at center, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 47%, rgba(180,180,180,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    font-family: 'Roboto Slab', serif;
}

h1 {
	text-shadow: 0 2px 1px rgba(240, 240, 240, 1);
	text-align: center;
}

.machine {
	margin: 40px auto;
	width: 910px;
	position: relative;
}

.machine .controls {
	margin: 20px 0 20px 0;
}

.bpmRange {
	float: right;
}

.bpmTitle {
	float: left;
	margin: 7px 8px 0 0;
}

#bpm {
	float: left;
}

#bpmOutput {
	width: 30px;
	margin: 7px 0 0 8px;
	float: left;
}

.stave {
	width: 100%;
	height: 70px;
	border: 1px solid #666;
	background: #333;
}

.staveName {
	float: right;
	color: white;
	margin: 20px 10px 0 0;
	background: #111;
	width: 80px;
	padding: 3px 8px 3px 8px;
}

.noteContainer {
	width: 100px;
	height: 70px;
	background: none;
	float: left;
}

.transporterContainer {
	width: 910px;
	height: 50px;
	border: 1px solid #666;
	background: #333;
	position: absolute;
	bottom: -52px;
}

.transporter {
	width: 80px;
	height: 50px;
	margin: 10px 0 0 10px;
	text-align: center;
	left: 0;
	z-index: 1;
	position: absolute;
}

.transporterOff {
	width: 100px;
	height: 60px;
	margin: 10px 0 0 0;
	text-align: center;
	float: left;
}

.transportLight {
	border-radius: 50%;
	background-color: #001100;
	width: 25px;
	height: 25px;
	margin: 0 auto;
	position: relative;
	border: 3px solid #222;
}

.transportLight .hilight {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	top: 6px;
	left: 6px;
	box-shadow: 3px 4px 7px 8px rgba(0, 120, 0, 0.6);
}

.transportLightActive {
	background-color: #00AA00;
	box-shadow: 0px 0px 10px 5px rgba(0, 255, 0, 0.4);
	border: 3px solid rgba(0, 120, 0, 1);
}

.transportLightActive .hilight {
	background-color: rgba(255,255,255,1);
	box-shadow: 4px 4px 6px 7px rgba(0, 255, 0, 1);
}

.note {
	border-radius: 50%;
	background-color: #220000;
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
	margin: 20px auto;
	border: 3px solid #222;
}

.active {
	background-color: #AA0000;
	box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.4);
	border: 3px solid rgba(120, 0, 0, 1);
}

.note .hilight {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	top: 7px;
	left: 7px;
	box-shadow: 3px 4px 7px 9px rgba(180, 0, 0, 0.6);
}

.active .hilight {
	background-color: rgba(255,255,255,1);
	box-shadow: 4px 4px 6px 7px rgba(255, 0, 0, 1);
}

.credits {
	width: 99%;
	text-align: center;
	position: absolute;
	bottom: 10px;
}

.credits a {
	color: black;
}

/* BUTTONS */
/* http://tympanus.net/codrops/2013/12/12/progress-button-styles/ */

.button {
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 12px 40px;
  letter-spacing: 1px;
  display: inline-block;
  outline: none;
  position: relative;
  background: #D33515;
  color: #fff;
  box-shadow: 0 6px #AC210E;
  margin-right: 10px;
}

.button:hover {
  box-shadow: 0 4px #AC210E;
  top: 2px;
}

.button:active {
  box-shadow: 0 0 #AC210E;
  top: 6px;
}

/* RANGE INPUT */
/* Styled with http://danielstern.ca/range.css/ */

input[type=range] {
  width: 16em;
  -webkit-appearance: none;
  margin: 16.55px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #606060;
  border-radius: 20px;
  border: 0.1px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.5px 0.5px 11.2px rgba(0, 0, 0, 0.46), 0px 0px 0.5px rgba(13, 13, 13, 0.46);
  border: 0px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16.65px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #636363;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #606060;
  border-radius: 20px;
  border: 0.1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.5px 0.5px 11.2px rgba(0, 0, 0, 0.46), 0px 0px 0.5px rgba(13, 13, 13, 0.46);
  border: 0px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #5d5d5d;
  border: 0.1px solid #010101;
  border-radius: 40px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #606060;
  border: 0.1px solid #010101;
  border-radius: 40px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.5px 0.5px 11.2px rgba(0, 0, 0, 0.46), 0px 0px 0.5px rgba(13, 13, 13, 0.46);
  border: 0px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 2.9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #606060;
}
input[type=range]:focus::-ms-fill-upper {
  background: #636363;
}
